.containerRadio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.radioButtonsContainer {
  float: left;
  margin-left: 40px;
  margin-top: 30px;
}

.containerRadio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 1px;
  width: 1px;
}

.radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color:  #E8E8E8;
  border-radius: 50%;
  border: 1px solid #00000099;
}

.containerRadio input:focus ~ .radio {
  border: 1.5px solid  #6200ee;
}

.containerRadio input:checked ~ .radio {
  background-color:  #E8E8E8;
  border: 1.5px solid  #6200ee;
}

.containerRadio input:disabled ~ .radio {
  background-color: grey;
  opacity: .4;
  pointer-events: none;
  transition: .5s;
}

.radio:after {
  content: "";
  position: absolute;
  display: none;
}

.containerRadio input:checked ~ .radio:after {
  display: block;
}

.containerRadio .radio:after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #6200ee;
}
